*{font-family: High Tower Text; margin-bottom: 20px;}
img{width: 100%;}
.row{text-align: center;}
#titulo{font-size: 50px; }
.btn{font-size: 25px;}
#integ{font-size: 23px; margin-top: 30px;}
body{background-image: url("Imagenes/fondo.png");
        background-size: 100% 100%;
        background-attachment: fixed;}